[Unit]
Description=Music Download Broker
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/opt/tgbot
ExecStart=/opt/tgbot/venv/bin/celery -A broker_app:app worker --loglevel=info
Restart=always

[Install]
WantedBy=multi-user.target