[Unit]
Description=Music Download Notification server
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/opt/tgbot
ExecStart=/opt/tgbot/venv/bin/python note_app.py
Restart=always

[Install]
WantedBy=multi-user.target