[Unit]
Description=Music Download Broker
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/opt/tgbot
ExecStart=/opt/tgbot/venv/bin/taskiq worker worker_app:broker worker.tasks --log-level INFO --workers=2
Restart=always

[Install]
WantedBy=multi-user.target